include ../../../../_includes/_util-fns


:markdown
   Let's talk Dependency Injection in TypeScript.

.l-main-section

  :markdown
    ## In the beginning

    The Angular team added dependency injection to the framework ... and it was good.

    How good? Check out this example!

  +makeExample('dependency-injection', 'ts/app-class-w-annotations.ts', 'app.ts')

  :markdown
    That is just ***killing it!***